<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container my-4">
            <% if (errorMessage) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= errorMessage %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>
            <% if (validationErrors.length) { %>
            <% for( let index = 0; index < validationErrors.length; index++ ) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= validationErrors[index].msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>
            <% } %>
            <form action="/new-password" method="POST">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control 
                <% if (validationErrors.length) { %>
                 <%= validationErrors.find(e => e.param === 'password') ? 'is-invalid' : 'is-valid' %> <% } %>"
                        type="password" name="password" id="password" placeholder="Password."
                        value="<%= prev.password %>">
                    <small id="passwordHelp" class="form-text text-muted">Password should contain only numbers and
                        letters and minimun 6 characters.</small>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Password</label>
                    <input class="form-control 
                <% if (validationErrors.length) { %>
                 <%= validationErrors.find(e => e.param === 'confirmPassword') ? 'is-invalid' : 'is-valid' %> <% } %>"
                        type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password."
                        value="<%= prev.confirmPassword %>">
                    <small id="confirmPasswordHelp" class="form-text text-muted">Re-enter the same password
                        above.</small>
                </div>
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn btn-dark">Reset Password</button>
            </form>
        </div>
        <div class="container">
            <div class="row  justify-content-center">
                <a class="btn btn-secondary" href="/login">Login</a>
                <div class="mx-2"></div>
                <a class="btn btn-secondary" href="/signup">Signup</a>
            </div>
        </div>
    </main>

    <%- include('../includes/end.ejs') %>