<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <% if (prods.length > 0) { %>
                <% for (let product of prods) { %>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center">
                    <div class="card m-4 mx-xl-5" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);">
                        <img src="/<%= product.imageURL %>" class="card-image-top image-responsive w-100"
                            alt="<%= product.title %>" onclick="location.href='/products/<%= product._id %>';">
                        <div class="card-body">
                            <h2 class="card-title">
                                <%= product.title %>
                            </h2>
                            <h5 class="card-text text-secondary">$
                                <%= product.price %>
                            </h5>
                            <p class="card-text">
                                <% if (product.description.length>110) { %>
                                <%= product.description.substring(0, 110) + "..." %>
                                <% } else { %>
                                <%= product.description %>
                                <% } %>
                            </p>
                        </div>
                        <a href="/products/<%= product._id %>"
                            class="btn btn-info btn-lg btn-block rounded-0">Details</a>
                        <%// if (isAuthenticated) { %>
                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                        <%// } %>
                    </div>
                </div>
                <% } %>
                <% } else { %>
                <div class="m-5">
                    <h1>No Products Found!</h1>
                </div>
                <% } %>
            </div>
            <% if (prods.length) { %>
            <%- include('../includes/pagination.ejs', {
                    currentPage: currentPage, 
                    nextPage: nextPage,
                    prevPage: prevPage,
                    lastPage: lastPage, 
                    hasNextPage: hasNextPage,
                    hasPrevPage: hasPrevPage
                    }) %>
            <% } %>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>